<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Newjueqi_Specialgiftcard>
			<version>0.1.0</version>
		</Newjueqi_Specialgiftcard>
	</modules>
	<global>
        <models>
			<specialgiftcard>
                <class>Newjueqi_Specialgiftcard_Model</class>
            </specialgiftcard>	          
         	<enterprise_giftcardaccount>
                <rewrite>
                    <pool>Newjueqi_Specialgiftcard_Model_Pool</pool>
                    <giftcardaccount>Newjueqi_Specialgiftcard_Model_Giftcardaccount</giftcardaccount>
                </rewrite>
            </enterprise_giftcardaccount>
        </models>
        <helpers>
            <specialgiftcard>
                <class>Newjueqi_Specialgiftcard_Helper</class>
            </specialgiftcard>
        </helpers>
        <blocks>
            <specialgiftcard>
                <class>Newjueqi_Specialgiftcard_Block</class>
            </specialgiftcard>
        </blocks>
	</global>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <newjueqi_specialgiftcard_setup before="Mage_Adminhtml">Newjueqi_Specialgiftcard_Adminhtml</newjueqi_specialgiftcard_setup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <layout>
            <updates>
                <specialgiftcard>
                    <file>specialgiftcard.xml</file>
                </specialgiftcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <Newjueqi_Specialgiftcard>
                    <files>
                        <default>Newjueqi_Specialgiftcard.csv</default>
                    </files>
                </Newjueqi_Specialgiftcard>
            </modules>
        </translate>
    </adminhtml>
	<frontend>
		<routers>
			<specialgiftcard>
				<use>standard</use>
				<args>
					<module>Newjueqi_Specialgiftcard</module>
					<frontName>specialgiftcard</frontName>
				</args>
			</specialgiftcard>
		</routers>
        <layout>
            <updates>
                <specialgiftcard>
                    <file>specialgiftcard.xml</file>
                </specialgiftcard>
            </updates>
        </layout>   
        <translate>
            <modules>
                <Newjueqi_Specialgiftcard>
                    <files>
                        <default>Newjueqi_Specialgiftcard.csv</default>
                    </files>
                </Newjueqi_Specialgiftcard>
            </modules>
        </translate>
	</frontend>
    <default>
        <giftcard>
        	<reward_giftcardaccount_general>
        		<code_length>12</code_length>
        		<balance>100</balance>
        		<generate_time>3</generate_time>
        	</reward_giftcardaccount_general>
        </giftcard>
    </default>
</config> 
